.body {
  background: url(../../assets/background.png);
  height: 100vh;
  width: 100%;
}

.container {
  height: 350px;
  width: 900px;
  position: absolute;
  top: 30%;
  left: 20%;
  background-color: rgba(218, 212, 212, 0.623);
  border-radius: 10px;
}

.rect-1 {
  position: absolute;
  width: 120px;
  height: 40px;
  top: 23%;
  left: 20%;
  background: #c4c4c4;
  border-radius: 10px;
}

.apple-logo {
  position: absolute;
  width: 11px;
  height: 11px;
  background: url(../../assets/png-apple-logo.png);
}

.rect-2 {
  position: relative;
  width: 600px;
  height: 300px;
  top: 25px;
  left: 12px;
  background: #3d3939;
  border-radius: 15px;
}

.rect-3 {
  position: relative;
  width: 350px;
  height: 150px;
  background: #e7ffd5;
  top: 15%;
  left: 20%;
}

.rect-4 {
  position: relative;
  width: 120px;
  height: 80px;
  background: #c4c4c4;
  border-radius: 10px 5px;
  top: 12%;
  left: 7%;
}

.rect-5 {
  position: relative;
  width: 120px;
  height: 80px;
  background: #c4c4c4;
  border-radius: 5px 10px;
  bottom: 41%;
  left: 56%;
}

.rect-6 {
  position: absolute;
  width: 295px;
  height: 18px;

  background: #c4c4c4;
  border-radius: 1px;
  bottom: 10%;
  left: 6%;
}

.rect-7 {
  position: relative;
  width: 500px;
  height: 23px;

  background: #d2d2ad;
  border-radius: 2px;
  top: 35%;
  left: 8%;
}

.rect-8 {
  position: absolute;
  width: 60px;
  height: 30px;

  background: #c4c4c4;
  border-radius: 2px;
  bottom: 85%;
  left: 88%;
}

.rect-9 {
  position: absolute;
  width: 120px;
  height: 150px;
  background: rgba(223, 204, 204, 0.623);
  border-radius: 5px;
  bottom: 50%;
  left: 70%;
}

.rect-10 {
  position: absolute;
  width: 120px;
  height: 150px;
  background: rgba(223, 204, 204, 0.623);
  border-radius: 5px;
  bottom: 50%;
  left: 85%;
}

.rect-11 {
  position: absolute;
  width: 255px;
  height: 110px;
  background: #332c23;
  border-radius: 5px;
  left: 70%;
  bottom: 10%;
}

.rect-12 {
  position: absolute;
  width: 120px;
  height: 70px;
  background: #9e99ad;
  border-radius: 8px;
  left: 47%;
  top: 20%;
}

.rect-13{
    position: absolute;
  width: 90px;
  height: 30px;
  top: 78%;
  left: 38%;
  background: #c4c4c4;
  border-radius: 5px;
}

.rect-14{
    position: absolute;
  width: 90px;
  height: 30px;
  top: 78%;
  left: 46%;
  background: #c4c4c4;
  border-radius: 5px;
}

.rect-15{
    position: absolute;
  width: 90px;
  height: 30px;
  top: 78%;
  left: 54%;
  background: #c4c4c4;
  border-radius: 5px;
}